<launch>
    <!-- Argument for robot type, defaulting to "fetch" -->
    <arg name="robot_type" default="fetch" doc="Type of robot: 'fetch' or 'fetch_UMI'"/>

    <!-- Load the YAML file into the global namespace -->
    <rosparam command="load" file="$(find fetch_netft)/config/gripper_config.yaml" />

    <!-- Launch the sensor node with parameters based on robot_type -->
    <group if="$(eval arg('robot_type') == 'fetch')">
        <node pkg="fetch_netft" type="sensor.py" name="ft_sensor" output="screen">
            <rosparam>
                gripper_mass: $(param fetch/gripper_mass)
                gripper_cog: $(param fetch/gripper_cog)
            </rosparam>
        </node>
    </group>

    <group if="$(eval arg('robot_type') == 'fetch_UMI')">
        <node pkg="fetch_netft" type="sensor.py" name="ft_sensor" output="screen">
            <rosparam>
                gripper_mass: $(param fetch_UMI/gripper_mass)
                gripper_cog: $(param fetch_UMI/gripper_cog)
            </rosparam>
        </node>
    </group>
</launch>