<launch>
    <!-- Argument for robot type, defaulting to "fetch" -->
    <arg name="robot_type" default="fetch" doc="Type of robot: 'fetch' or 'fetch_UMI'"/>

    <!-- Load gripper configuration based on robot_type -->
    <group if="$(eval arg('robot_type') == 'fetch')">
        <!-- Load the YAML file into the parameter server -->
        <rosparam command="load" file="$(find fetch_netft)/config/gripper_config.yaml" />
        <node pkg="fetch_netft" type="sensor.py" name="ft_sensor" output="screen">
            <!-- Fetch gripper_mass and gripper_cog from the loaded YAML -->
            <param name="gripper_mass" type="double" value="$(arg fetch/gripper_mass)" />
            <param name="gripper_cog" value="$(arg fetch/gripper_cog)" />
        </node>
    </group>

    <group if="$(eval arg('robot_type') == 'fetch_UMI')">
        <rosparam command="load" file="$(find fetch_netft)/config/gripper_config.yaml" />
        <node pkg="fetch_netft" type="sensor.py" name="ft_sensor" output="screen">
            <param name="gripper_mass" type="double" value="$(arg fetch_UMI/gripper_mass)" />
            <param name="gripper_cog" value="$(arg fetch_UMI/gripper_cog)" />
        </node>
    </group>
</launch>